<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service Through a Factory</h1>

    <!-- Preconfigured List -->
    <div id="tobuylist" ng-controller='ToBuyController as list'>
      <div ng-show="list.count > 0" ><h3>To Buy List</h3></div>
      <div ng-show="list.count === 0" class="complete"><h3>Everything is bought!</h3></div>
      <ol>
        <li ng-repeat="item in list.items">
          Buy {{ item.quantity }} {{ item.name }}
          <button ng-click="list.moveItem($index);">Bought</button>
        </li>
      </ol>
    </div>

    <!-- Preconfigured List -->
    <div id="alreadyboughtlist" ng-controller='AlreadyBoughtController as list'>
      <h3>Already Bought List</h3>
      <ol>
        <li ng-repeat="item in list.items">
          Bought {{ item.quantity }} {{ item.name }}
        </li>
      </ol>
    </div>

  </body>
</html>
